<li>
	{{burger_name}}

	<button class="change" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}Hungry? Eat it!{{else}}Eat it again!{{/if}}
	</button>

	<button class="delBurger" data-id="{{id}}">DELETE</button>

</li>
